@model ERPSystem_DatabaseOperation.tbltopics_Contents
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td>Select Topic:</td>
                    <td>@Html.DropDownListFor(e => e.topic_id, ViewBag.topics as List<SelectListItem>, "Select Topic")</td>
                </tr>
                <tr>
                    <td>Content Name </td>
                    <td>@Html.TextBoxFor(e => e.content_name)</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        }
        <h2>@ViewBag.msg</h2>

        @*<table>
            @{ @int int= 1;}
        </table>*@



    </div>
</body>
</html>
