@model ERPSystem_DatabaseOperation.tbltraining_topics
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td>Topic Name:</td>
                    <td>@Html.TextBoxFor(e => e.topic_name)</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        }
        <h2>@ViewBag.msg</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Topic Name</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @foreach (var item in ViewBag.topics)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.topic_name</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</body>
</html>
